In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = "../Resources/California_PPP.csv"

In [3]:
data = pd.read_csv(path)

In [4]:
data.head()

,LoanNumber,DateApproved,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,CurrentApprovalAmount,RuralUrbanIndicator,...,JobsReported,NAICSCode,Race,PAYROLL_PROCEED,BusinessType,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran
0,1048448901,04/24/2021,PPP,HUMANGOOD NORCAL,6120 Stoneridge Mall Rd Ste 300,Pleasanton,CA,94588-3298,10000000.0,U,...,500.0,623311.0,White,9999998.0,Sole Proprietorship,"Washington Federal Bank, National Association",SEATTLE,WA,Female Owned,Non-Veteran
1,1122827105,04/09/2020,PPP,ITO INCORPORATED,431 ISIS AVE,INGLEWOOD,CA,90301-2009,10000000.0,U,...,500.0,722310.0,Asian,9361000.0,Subchapter S Corporation,City National Bank,LOS ANGELES,CA,Male Owned,Non-Veteran
2,1187837109,04/10/2020,PPP,"HAVEN HEALTH GROUP, LLC","31752 COAST HWY, STE 300",LAGUNA BEACH,CA,92651-6782,10000000.0,U,...,500.0,623110.0,White,10000000.0,Limited Liability Company(LLC),East West Bank,PASADENA,CA,Male Owned,Non-Veteran
3,1321898800,04/10/2021,PPP,NORTH EAST MEDICAL SERVICES,2171 Junipero Serra Blvd,Daly City,CA,94014-1906,10000000.0,U,...,205.0,621498.0,Unanswered,10000000.0,501(c)3 – Non Profit,East West Bank,PASADENA,CA,Unanswered,Unanswered
4,1322998906,04/24/2021,PPP,PACIFIC CLINICS,800 S Santa Anita Ave,Arcadia,CA,91006-3536,10000000.0,U,...,103.0,621420.0,White,9999996.0,Non-Profit Organization,East West Bank,PASADENA,CA,Male Owned,Veteran

In [5]:
data.columns

Index(['LoanNumber', 'DateApproved', 'ProcessingMethod', 'BorrowerName',
       'BorrowerAddress', 'BorrowerCity', 'BorrowerState', 'BorrowerZip',
       'CurrentApprovalAmount', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'ProjectCountyName', 'JobsReported', 'NAICSCode',
       'Race', 'PAYROLL_PROCEED', 'BusinessType', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'Gender', 'Veteran'],
      dtype='object')

In [6]:
data = data.dropna()

In [7]:
import math

def first_two(d):                
     return (d // 10 ** (int(math.log(d, 10)) - 1))

data['NAICS'] = data['NAICSCode'].apply(first_two)
data['NAICS'].head()

0    62.0
1    72.0
2    62.0
3    62.0
4    62.0
Name: NAICS, dtype: float64

In [8]:
len(data['NAICS'].unique())

25

In [9]:
data['NAICS'].values
x_axis = np.arange(len(data['NAICS']))
plt.bar(x_axis,data['NAICS'], color='r', alpha=0.5, align="center")
print(data['NAICS'].value_counts())

array([62., 72., 62., ..., 56., 45., 48.])

In [13]:
print(data['NAICS'].value_counts())

54.0    176887
81.0    171711
62.0    129833
72.0    100846
23.0     89179
48.0     83720
53.0     62095
44.0     59940
56.0     59739
71.0     53056
42.0     48874
45.0     39691
52.0     33651
33.0     30153
51.0     28255
61.0     25158
49.0     17468
99.0     17300
11.0     16156
31.0     15037
32.0     10932
92.0      3145
55.0      1813
22.0      1593
21.0      1118
Name: NAICS, dtype: int64