In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps

file_path = '..\Resources\California_PPP.csv'

california_df=pd.read_csv(file_path)
california_df.shape

(1302241, 23)

In [43]:
#this code takes the county and city from cdtfa and cleans it removing special characters and ()


url ='https://www.cdtfa.ca.gov/taxes-and-fees/rates.aspx'

california_counties_pull = pd.read_html(url, header=0)
california_counties = california_counties_pull[0]
california_counties = california_counties[['Location', 'County']]
california_counties['Location'] = california_counties['Location'].str.replace('*','', regex = False)
california_counties['Location'] = california_counties['Location'].str.replace(r"\(.*\)","")
california_counties['Location']  = california_counties['Location'].str.strip()
california_counties=california_counties.rename(columns={'Location': 'BorrowerCity'})
california_counties


#this cleans the city column to prepare for merge

california_df.columns

title_case = california_df['BorrowerCity'].str.title()
california_df['BorrowerCity'] = title_case
california_df['BorrowerCity'] = california_df['BorrowerCity'].replace(
    {'City Of Industry': 'City of Industry','Carmel':'Carmel-by-the-Sea', 'Carmel-By-The-Sea': 'Carmel-by-the-Sea',
    'Huntingtn Bch':'Huntington Beach','Rch Cucamonga':'Rancho Cucamonga','N Hollywood':'North Hollywood','La Canada Flintridge':'La Canada- Flintridge',
    'Woodland Hls':'Woodland Hills','La Canada':'La Canada- Flintridge','Playa Vista':'Los Angeles','Newport Coast':'Newport Beach'})

<ipython-input-43-e4cd8638ef09>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  california_counties['Location'] = california_counties['Location'].str.replace('*','', regex = False)
<ipython-input-43-e4cd8638ef09>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  california_counties['Location'] = california_counties['Location'].str.replace(r"\(.*\)","")
<ipython-input-43-e4cd8638ef09>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  california_counties['Location'] = california_counties['Location'].str.replace(r"\(.*\)","")
<ipython-input-43-e4cd8638ef09>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  california_counties['Location']  = california_counties['Location'].str.strip()

In [72]:
#this merges the county table from cdtfa with our ppp data set

california_df_merge = pd.merge(california_df, california_counties, on="BorrowerCity", how="left")

#this finds the rows that does not have counties, there are numerous miss spellings so we cleaned the data down to less than 1% of the total data set
pd.isna(california_df_merge['County']).sum()
df_no_county = california_df_merge.loc[california_df_merge['County'].isna()]
print(df_no_county["LoanNumber"].count())
df_bin = df_no_county.groupby("BorrowerCity")
df_bin.count().sort_values("LoanNumber", ascending=False).head(10)

12737

,LoanNumber,DateApproved,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerState,BorrowerZip,CurrentApprovalAmount,RuralUrbanIndicator,HubzoneIndicator,...,NAICSCode,Race,PAYROLL_PROCEED,BusinessType,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,County
BorrowerCity,,,,,,,,,,,,,,,,,,,,,
Mckinleyville,300,300,300,300,300,300,300,300,300,300,...,297,300,300,300,300,300,300,300,300,0
W Hollywood,279,279,279,279,279,279,279,279,279,279,...,268,279,279,279,279,279,279,279,279,0
Sn Bernrdno,259,259,259,259,259,259,259,259,259,259,...,248,259,259,259,259,259,259,259,259,0
Oak Hills,228,228,228,228,228,228,228,228,228,228,...,225,228,228,228,228,228,228,228,228,0
Westlake Vlg,226,226,226,226,226,226,226,226,226,226,...,216,226,226,226,226,226,226,226,226,0
S Lake Tahoe,218,218,218,218,218,218,218,218,218,218,...,195,218,218,218,218,218,218,218,218,0
Lake Balboa,216,216,216,216,216,216,216,216,216,216,...,208,216,216,216,216,216,216,216,216,0
S San Fran,214,214,214,214,214,214,214,214,214,214,...,212,214,214,214,214,214,214,214,214,0
Cardiff,212,212,212,212,212,212,212,212,212,212,...,200,212,211,212,212,212,212,212,212,0
Rncho Cordova,208,208,208,208,208,208,208,208,208,208,...,199,208,208,208,208,208,208,208,208,0

In [71]:
#This creates the county data by PPP and PPS
california_df_county = california_df_merge[['LoanNumber','CurrentApprovalAmount','County','ProcessingMethod']]

california_df_county_ppp = california_df_county.loc[california_df_county["ProcessingMethod"]=="PPP"]
california_df_county_pps = california_df_county.loc[california_df_county["ProcessingMethod"]=="PPS"]

In [114]:
#This is PPP county Data

county_group_ppp = california_df_county_ppp.groupby('County')
ppp_loan_count = county_group_ppp['CurrentApprovalAmount'].count()
ppp_loan_amount = county_group_ppp['CurrentApprovalAmount'].sum()/1000000

total_loan_count_ppp = ppp_loan_count.sum()
total_loan_sum_ppp = ppp_loan_amount.sum()


ppp_county = pd.merge(ppp_loan_count, ppp_loan_amount, on="County", how="left")
ppp_county=ppp_county.rename(columns={'CurrentApprovalAmount_x': 'Loan Count','CurrentApprovalAmount_y': 'Loan Amount (Millions)'})

ppp_county["Count %"] = ppp_county["Loan Count"]/total_loan_count_ppp
ppp_county["Amount %"] = ppp_county["Loan Amount (Millions)"]/total_loan_sum_ppp
ppp_county.sort_values("Loan Amount (Millions)", ascending=False)

                 Loan Count  Loan Amount (Millions)   Count %  Amount %
County
Los Angeles          323117            21474.230487  0.343104  0.287401
Orange                87502             8343.040584  0.092915  0.111659
San Diego             74351             6435.608582  0.078950  0.086131
Alameda               41089             4056.945323  0.043631  0.054296
Santa Clara           36750             4015.774333  0.039023  0.053745
San Francisco         30035             3404.610667  0.031893  0.045566
Riverside             44785             2812.927343  0.047555  0.037647
San Bernardino        44993             2692.858845  0.047776  0.036040
Sacramento            32120             2190.670012  0.034107  0.029319
Contra Costa          25139             1901.416342  0.026694  0.025448
San Mateo             17190             1848.249913  0.018253  0.024736
Ventura               18729             1582.827250  0.019888  0.021184
Fresno                17447             1454.131225  0.018526  0.019461
Sonoma                12157             1130.369301  0.012909  0.015128
Kern                  12652              995.856128  0.013435  0.013328
San Joaquin           12759              907.962267  0.013548  0.012152
Santa Barbara          9961              901.517006  0.010577  0.012065
Marin                  9675              828.826431  0.010273  0.011093
Placer                 9180              783.642035  0.009748  0.010488
Stanislaus             8193              722.786242  0.008700  0.009673
Monterey               6376              696.051282  0.006770  0.009316
Tulare                 5507              524.042844  0.005848  0.007014
San Luis Obispo        6645              521.577577  0.007056  0.006981
Santa Cruz             5870              513.982676  0.006233  0.006879
Solano                 7720              511.750739  0.008198  0.006849
Napa                   3596              434.060353  0.003818  0.005809
Yolo                   3424              317.577754  0.003636  0.004250
Shasta                 3293              288.940305  0.003497  0.003867
Butte                  3467              285.393648  0.003681  0.003820
El Dorado              3423              267.742033  0.003635  0.003583
Merced                 3105              236.079955  0.003297  0.003160
Humboldt               2062              167.125834  0.002190  0.002237
Madera                 1790              154.181648  0.001901  0.002063
Nevada                 2441              152.589092  0.002592  0.002042
Imperial               1701              147.108158  0.001806  0.001969
Sutter                 1823              136.652409  0.001936  0.001829
Mendocino              1583              122.379580  0.001681  0.001638
Kings                  1403              119.764408  0.001490  0.001603
San Benito              852               80.209172  0.000905  0.001073
Tehama                  685               58.607197  0.000727  0.000784
Tuolumne                880               55.929086  0.000934  0.000749
Colusa                  378               53.005302  0.000401  0.000709
Yuba                    668               48.806976  0.000709  0.000653
Lake                    674               47.101414  0.000716  0.000630
Glenn                   447               46.453265  0.000475  0.000622
Siskiyou                765               38.612543  0.000812  0.000517
Calaveras               700               35.837507  0.000743  0.000480
Inyo                    302               30.821792  0.000321  0.000413
Mono                    410               27.470828  0.000435  0.000368
Amador                  529               27.162579  0.000562  0.000364
Plumas                  363               26.688864  0.000385  0.000357
Lassen                  272               17.427341  0.000289  0.000233
Del Norte               276               17.393756  0.000293  0.000233
Mariposa                182               10.070317  0.000193  0.000135
Modoc                   148                6.928534  0.000157  0.000093
Trinity                  99                5.811949  0.000105  0.000078
Alpine                   20                1.844885  0.000021  0.000025
Sierra                   44                1.226871  0.000047  0.000016

In [113]:
#This is PPS county Data

county_group_pps = california_df_county_pps.groupby('County')
pps_loan_count = county_group_pps['CurrentApprovalAmount'].count()
pps_loan_amount = county_group_pps['CurrentApprovalAmount'].sum()/1000000

total_loan_count_pps = pps_loan_count.sum()
total_loan_sum_pps = pps_loan_amount.sum()


pps_county = pd.merge(pps_loan_count, pps_loan_amount, on="County", how="left")
pps_county=pps_county.rename(columns={'CurrentApprovalAmount_x': 'Loan Count','CurrentApprovalAmount_y': 'Loan Amount (Millions)'})

pps_county["Count %"] = pps_county["Loan Count"]/total_loan_count_pps
pps_county["Amount %"] = pps_county["Loan Amount (Millions)"]/total_loan_sum_pps
pps_county.sort_values("Loan Amount (Millions)", ascending=False)

                 Loan Count  Loan Amount (Millions)   Count %  Amount %
County
Los Angeles          123793             8903.289006  0.349080  0.308090
Orange                36278             3266.553838  0.102299  0.113036
San Diego             28960             2512.439561  0.081663  0.086941
Santa Clara           15903             1561.953556  0.044844  0.054050
Alameda               16590             1526.182044  0.046782  0.052812
San Francisco         13291             1403.370639  0.037479  0.048562
Riverside             14600             1049.402431  0.041170  0.036314
San Bernardino        13724              913.583043  0.038700  0.031614
San Mateo              7532              770.520095  0.021239  0.026663
Sacramento            10328              731.838471  0.029124  0.025325
Contra Costa           9539              720.919394  0.026899  0.024947
Ventura                7427              609.794090  0.020943  0.021101
Fresno                 5285              441.237037  0.014903  0.015269
Sonoma                 4609              426.010278  0.012997  0.014742
Kern                   3912              380.305095  0.011031  0.013160
Santa Barbara          4157              373.671801  0.011722  0.012931
Marin                  4209              357.592512  0.011869  0.012374
San Joaquin            3708              289.547625  0.010456  0.010020
Placer                 3265              264.920572  0.009207  0.009167
Monterey               2473              251.554156  0.006974  0.008705
Stanislaus             2515              224.058703  0.007092  0.007753
San Luis Obispo        2515              214.818362  0.007092  0.007434
Santa Cruz             2278              213.033627  0.006424  0.007372
Solano                 2372              187.179497  0.006689  0.006477
Napa                   1495              183.633269  0.004216  0.006354
Tulare                 1473              125.394616  0.004154  0.004339
Yolo                   1286              112.936591  0.003626  0.003908
Shasta                 1071               94.447497  0.003020  0.003268
El Dorado              1175               92.411497  0.003313  0.003198
Butte                  1123               91.322218  0.003167  0.003160
Merced                  862               65.234036  0.002431  0.002257
Humboldt                738               58.770850  0.002081  0.002034
Nevada                  822               53.851586  0.002318  0.001863
Imperial                600               51.875150  0.001692  0.001795
Madera                  559               46.017361  0.001576  0.001592
Sutter                  572               45.210800  0.001613  0.001564
Mendocino               502               38.055909  0.001416  0.001317
San Benito              318               31.695125  0.000897  0.001097
Kings                   363               30.395203  0.001024  0.001052
Tuolumne                254               19.661745  0.000716  0.000680
Lake                    198               16.885643  0.000558  0.000584
Mono                    192               16.240768  0.000541  0.000562
Glenn                   101               14.173258  0.000285  0.000490
Colusa                  104               13.148735  0.000293  0.000455
Tehama                  192               13.129326  0.000541  0.000454
Yuba                    196               12.781043  0.000553  0.000442
Calaveras               221               12.162319  0.000623  0.000421
Siskiyou                205               10.348796  0.000578  0.000358
Inyo                    109                8.984233  0.000307  0.000311
Amador                  167                8.674666  0.000471  0.000300
Plumas                  140                8.156187  0.000395  0.000282
Del Norte                95                7.976201  0.000268  0.000276
Mariposa                 79                7.675410  0.000223  0.000266
Lassen                   75                7.243489  0.000211  0.000251
Alpine                    6                2.288630  0.000017  0.000079
Trinity                  26                1.641845  0.000073  0.000057
Modoc                    30                1.312901  0.000085  0.000045
Sierra                   14                0.831458  0.000039  0.000029